<div class="shadow">
    <header>
        {{#each top}}
            {{> include}}
        {{/each}}
    </header>
    <main>
        {{#each main}}
            {{> include}}
        {{/each}}
    </main>
    <footer>
        {{#each footer}}
            {{> include}}
        {{/each}}
    </footer>
</div>