<div class="shadow">
    {{#each topSection }}
        {{> include}}
    {{/each}}
    {{#each mainSection }}
        {{> include}}
    {{/each}}
    {{#each footer }}
        {{> include}}
    {{/each }}
</div>
