<div class="shadow">
    <main>
        <div class="error-main">
            <div class="error-500 background-500">
                <div class="error-content">
                    <div class="error-logo">
                        <a href="/">
                            <img src="/static/images/common/logo.png" alt="">
                        </a>
                    </div>
                    <div class="error-text">
                        <div class="error-info">
                            <h1>Hmmm!</h1>
                            <h3>Parece que no es tú problema</h3>
                            <h4>Error code <span>500</span></h4>
                            <p>
                                Morbi et risus sed tortor aliquet elementum.
                                Morbi rutrum lobortis lectus eu bibendum.
                                Aliquam ut turpis sed lectus sagittis <a>maximus</a> sit amet ut lacus.
                                Quisque nec elementum lectus, at tincidunt mi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>